body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18pt;
    background-color: antiquewhite;
}
button{
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
    font-size: 14pt;
    border-radius: 20%;
}
input{
    border-radius: 10%;
}
table{
    text-align: left;
    width: 50%;
}
th,td{
    width: auto;
}