.grid-container {
    width: 75%;
    grid-template-columns: auto auto;
    display: grid;
}
.grid-item {
    background-image:url("../images/pizza.png");
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
    font-size: 30px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    border-right-color: rgba(0, 0, 0, 0.8);
    border-bottom-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 200px;
    height: 100px;
}
.lista-item {
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    text-align: center;
}
p{
    font-size: 20px; 
}
table{
    width: 100%;
}
#colonnaGrid{
    width: 38%;
}
h1{
    text-align: center;
}